.form {
  background-color: white;
  min-height: 100vh;
  display: flow;
  color: white;
}

.logo {
  color: #125899;
  margin: auto;
  width: 540px;
  font-size: 70px;
  font-weight: bolder;
  text-shadow: 8px 2px 9px rgb(18, 88, 153);
}
